
@font-face {
    font-family: "Gothic";
    src: url("./fonts/gothic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Arabic";
    src: url("./fonts/arabic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aztec";
    src: url("./fonts/aztec.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Horror";
    src: url("./fonts/horror.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Stone";
    src: url("./fonts/stone.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Pirate";
    src: url("./fonts/pirate.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Beast";
    src: url("./fonts/beast.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fire";
    src: url("./fonts/fire.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Moon";
    src: url("./fonts/moon.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ancient";
    src: url("./fonts/ancient.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Book";
    src: url("./fonts/book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Curvy";
    src: url("./fonts/curvy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Demon";
    src: url("./fonts/demon.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Retro";
    src: url("./fonts/retro.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Snake";
    src: url("./fonts/snake.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Tales";
    src: url("./fonts/tales.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}